.btn{
    padding: 10px 15px;
    margin: 10px ;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #AC9980;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    font-size: 16px;
}